/* BASIC */
:root {
    --primary-color: #6F4FE8;
    --primary-color-hover: #5a41b3;
    --secondary-color: #1CEDFF;
    --secondary-color-hover: #18a7b4;
    --danger-color: #FF6A99;
    --danger-color-hover: #df5983;
    --waring-color: #FFFC69;
    --title-size: 1.8rem;
    --subtitle-size: 1.5rem;
    --text-size: 1.2rem;
    --std-spacing: 2rem;
    --sm-spacing: 1rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-family: 62.5%;
}

/* UTILIDADES */
.center-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-margins {
    margin: 0;
}

.center-y {
    display: flex;
    align-items: center;
}

.std-y-spacing {
    margin: var(--std-spacing) 0;
}

.std-bottom-spacing {
    margin-bottom: var(--std-spacing);
}

.sm-top-spacing {
    margin-top: var(--sm-spacing);
}

.sm-y-spacing {
    margin: var(--sm-spacing) 0;
}

/* TIPOGRAFIA */
.title {
    font-size: var(--title-size);
    color: var(--primary-color);
    font-weight: bold;
}

.subtitle {
    font-size: var(--subtitle-size);
    font-weight: 500;
    color: var(--primary-color);
}

/* NAVBAR */
.navbar {
    background-color: var(--primary-color);
    padding: 0 0.5rem;
}

.brand-logo {
    display: inline-block;
    width: 2.5rem;
    margin: 0.5rem 0;
}

.brand-logo img {
    width: 100%;
    border-radius: 0.5rem;
}

.app-name {
    font-size: var(--subtitle-size);
    font-weight: bold;
    margin-right: 0.4rem;
}

/* MAIN */
.page-wrapper {
    width: 90%;
    height: auto;
    min-height: 73vh;
    margin: 0 auto;
}

/* FOOTER */
.footer {
    background-color: var(--primary-color);
    margin-top: var(--std-spacing);
    padding: var(--sm-spacing);
    color: var(--secondary-color);
    text-align: center;
}

.footer a {
    color: var(--secondary-color);
    font-weight: bold;
}

/* BOTON FLOTANTE */
.btn-floating {
    background-color: var(--secondary-color);
}

li .btn-floating {
    background-color: var(--primary-color);
    padding: 0.5rem;
}

.fixed-action-btn {
    bottom: 3rem;
}

.fixed-action-btn ul li span {
    background-color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    right: 4rem;
    font-weight: 500;
    font-size: 0.9rem;
}

/* REGISTRO PELICULA */
.card {
    padding: var(--sm-spacing);
}

.btn {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
}

.btn:hover {
    background-color: var(--primary-color-hover);
}

/* MOSTRAR DATOS */
.edit-btn, .delete-btn {
    padding: 0.3rem;
}
.edit-btn svg, .delete-btn svg {
    height: 100%;
    margin-right: 0.5rem;
}

.delete-btn {
    background-color: var(--danger-color);
}

.delete-btn:hover {
    background-color: var(--danger-color-hover);
}

.delete-btn:focus {
    background-color: var(--danger-color-hover);
}

.seen, .pending {
    font-weight: 700;
}

.seen span {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
}

.pending span {
    background-color: var(--waring-color);
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
}

.serie-view p {
    font-weight: 700;
    margin-bottom: 0.5rem;
}